* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: rtl;
    outline: none;
}

@font-face {
    font-family: iranSans;
    src: url("../font/IRANSans.ttf");
}

@font-face {
    font-family: iranSansbold;
    src: url(../font/IRANSans_Bold.ttf);
}

@font-face {
    font-family: iranSansmed;
    src: url(../font/IRANSans_Medium.ttf);
}

.slider-container {
    z-index: -1;
    position: relative;
}

.slider-container .slider1 {
    background-image: url("../images/slide1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
}

.slider-container .slider1 .container {
    max-width: 1360px !important;
}

.slider-container .slider1 .container p {
    font-family: iranSans;
    font-size: 22px;
    color: white;
    font-weight: 700;
}

.slider-container .slider1 .container h1 {
    font-family: iranSansbold;
    color: white;
    font-weight: 200;
}

.slider-container .slider2 {
    background-image: url("../images/slide2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
}

.slider-container .slider2 .container {
    max-width: 1360px !important;
}

.slider-container .slider2 .container p {
    font-family: iranSans;
    font-size: 22px;
    color: white;
    font-weight: 700;
}

.slider-container .slider2 .container h1 {
    font-family: iranSansbold;
    color: white;
    font-weight: 200;
}

.slider-container .slider3 {
    background-image: url("../images/slide3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
}

.slider-container .slider3 .container {
    max-width: 1360px !important;
}

.slider-container .slider3 .container p {
    font-family: iranSans;
    font-size: 22px;
    color: white;
    font-weight: 700;
}

.slider-container .slider3 .container h1 {
    font-family: iranSansbold;
    color: white;
    font-weight: 200;
}

.slider-container .slider4 {
    background-image: url("../images/slide4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
}

.slider-container .slider4 .container {
    max-width: 1360px !important;
}

.slider-container .slider4 .container p {
    font-family: iranSans;
    font-size: 22px;
    color: white;
    font-weight: 700;
}

.slider-container .slider4 .container h1 {
    font-family: iranSansbold;
    color: white;
    font-weight: 200;
}

.carousel-control-next {
    width: 60px;
    height: 100vh;
    background: #000000;
    background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(50%, #00000000));
    background: linear-gradient(90deg, #000000 0%, #00000000 50%);
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev {
    width: 60px;
    height: 100vh;
    background: #000000;
    background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(50%, #00000000));
    background: linear-gradient(-90deg, #000000 0%, #00000000 50%);
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.carousel-control-prev:hover {
    opacity: 1;
}

.nav-container {
    position: fixed;
}

.nav-container .container {
    max-width: 1400px !important;
}

.nav-container .container .button-con {
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    direction: ltr;
    margin-top: 10px;
}

.nav-container .container #dayIcon {
    position: relative;
    width: 26px;
    height: 26px;
    top: -3px;
    margin: 0 7px;
    fill: #9caec0;
}

.nav-container .container #nightIcon {
    position: relative;
    width: 26px;
    height: 26px;
    top: -3px;
    margin: 0 7px;
    fill: #9caec0;
}

.nav-container .container #dayIcon,
.nav-container .container #nightIcon {
    cursor: pointer;
}

.nav-container .container .toggle {
    display: none;
}

.nav-container .container .toggle,
.nav-container .container .toggle:after,
.nav-container .container .toggle:before,
.nav-container .container .toggle *,
.nav-container .container .toggle *:after,
.nav-container .container .toggle *:before,
.nav-container .container .toggle+.toggle-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-container .container .toggle::-moz-selection,
.nav-container .container .toggle:after::-moz-selection,
.nav-container .container .toggle:before::-moz-selection,
.nav-container .container .toggle *::-moz-selection,
.nav-container .container .toggle *:after::-moz-selection,
.nav-container .container .toggle *:before::-moz-selection,
.nav-container .container .toggle+.toggle-button::-moz-selection {
    background: none;
}

.nav-container .container .toggle::selection,
.nav-container .container .toggle:after::selection,
.nav-container .container .toggle:before::selection,
.nav-container .container .toggle *::selection,
.nav-container .container .toggle *:after::selection,
.nav-container .container .toggle *:before::selection,
.nav-container .container .toggle+.toggle-button::selection {
    background: none;
}

.nav-container .container .toggle+.toggle-button {
    outline: 0;
    display: inline-block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    border: 2px solid #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: ltr;
}

.nav-container .container .toggle+.toggle-button:after,
.nav-container .container .toggle+.toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.nav-container .container .toggle+.toggle-button:after {
    left: 0;
}

.nav-container .container .toggle+.toggle-button:before {
    display: none;
}

.nav-container .container .toggle:checked+.toggle-button:after {
    left: 50%;
}

.nav-container .container .toggle+.toggle-button {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 2px solid rgba(156, 174, 192, 0.27);
    border-radius: 2em;
}

.nav-container .container .toggle+.toggle-button:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: rgba(156, 174, 192, 0.27);
    content: "";
    border-radius: 1em;
}

.nav-container .container .toggle:checked+.toggle-button:after {
    left: 50%;
}

.nav-container .container .nav {
    width: 100%;
    height: 100%;
}

.nav-container .container .nav a {
    color: white;
    font-family: iranSansmed;
    font-size: 16px;
}

.nav-container .container .nav .nav-items span {
    margin: 0px 10px;
    margin-bottom: 7px;
}

.nav-container .container .nav .nav-items span a {
    color: white;
}

.nav-container .container .nav .nav-items span a:hover {
    text-decoration: none;
}

.nav-container .container .nav .nav-items .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
}

.nav-container .container .nav .nav-items .dropdown .dropbtn {
    font-family: iranSans;
    font-size: 16px;
    color: white;
    border: none;
}

.nav-container .container .nav .nav-items .dropdown .dropdown-content {
    display: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    background-color: #1c1c1c;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-container .container .nav .nav-items .dropdown .dropdown-content a {
    color: white;
    font-size: 13px !important;
    font-family: iranSans;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-align: left;
}

.nav-container .container .nav .nav-items .dropdown:hover .dropdown-content {
    display: block;
}

.nav-icon .bar1,
.nav-icon .bar2,
.nav-icon .bar3 {
    width: 34px;
    height: 3px;
    background-color: #a1887f;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 10;
}

.nav-icon .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.nav-icon .change .bar2 {
    opacity: 0;
}

.nav-icon .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-5px, -5px);
}

.container .item {
    height: 30rem;
}

.container .item .grid {
    padding: 0;
}

.container .item .grid figure {
    margin: 0;
    width: 100%;
}

.container .item .grid figure .img {
    background-image: url(../images/slide2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    width: 100%;
    height: 15rem;
}

.container .item .photo {
    width: 100%;
}

.container .item .text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 18px;
    font-family: iranSans;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container .item .text p:nth-child(1) {
    line-height: 1rem;
    color: #D4B26B;
    font-weight: 600;
}

.container .item .text a {
    color: black;
    text-decoration: none;
    border: solid 1px #D4B26B;
    padding: 2px 50px;
    text-align: center;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 94%;
}

.container .item .text a:hover {
    background-color: #D4B26B;
    color: white;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: black;
    font-size: 4px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    top: 0;
}

.loader::before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader::after {
    left: 3.5em;
}

.footer-container {
    height: 20rem;
}

.footer-container .addres {
    direction: ltr;
    height: 20rem;
}

.footer-container .addres p {
    color: white;
    font-family: iranSansmed;
    font-size: 14px;
    margin: 10px 0px;
    text-align: center;
}

.footer-container .addres p .slide-in-left {
    -webkit-animation: slide-in-left 0.5s both;
    animation: slide-in-left 0.5s both;
}

.footer-container .moreItem {
    height: 20rem;
}

.footer-container .moreItem span {
    margin: 6px 0px;
}

.footer-container .moreItem span a {
    color: white;
    font-family: iranSansmed;
    font-size: 14px;
    text-decoration: none;
}

body {
    background: white;
    -webkit-transition: background-color 150ms ease-out !important;
    transition: background-color 150ms ease-out !important;
}

body.day-background {
    background: #25272A;
}

body.day-background p {
    color: white;
}

body.day-background .text a {
    color: white !important;
}

body.day-background .loader {
    color: white;
}

.intro {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: black;
    z-index: 1000;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: slide-out-top 1s ease-out 1.8s both;
    animation: slide-out-top 1s ease-out 1.8s both;
}

.intro .intro-blend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro .intro-blend img {
    height: 110px;
    -webkit-animation: slide-in-right 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    outline: none;
}

.nav-container {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    z-index: 100;
    background: #1c1c1c;
}

.footer-container {
    width: 100%;
    height: 20rem;
    margin-top: 5rem;
    background-color: #1c1c1c;
}

main section .container .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

main section .container .col-sm {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 767px) {
    .nav-container {
        position: relative;
        top: -10vh;
        right: 0;
        height: 100vh;
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: -1;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        opacity: 0;
    }
    .nav-container .container .nav .nav-items .dropdown .dropdown-content {
        display: none;
    }
    .nav-container .container .nav .nav-items .dropdown:hover .dropdown-content {
        display: none;
    }
    .nav-container .nav .nav-items {
        margin: 33px 0px;
    }
    .nav-container .nav .nav-items span {
        padding: 15px 0px;
    }
    .intro .intro-blend img {
        height: 80px !important;
    }
    .intro .intro-blend {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 80vh;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .item {
        -webkit-transform: scale(0.96) !important;
        transform: scale(0.96) !important;
        height: 26rem !important;
    }
    .full {
        position: relative;
        top: -10vh;
        right: 0;
        height: 110vh;
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        opacity: 1;
    }
    .nav-icon {
        z-index: 100;
        position: fixed;
    }
    .nav-icon .Navicon .container {
        max-width: 110px !important;
    }
    .slider-container {
        position: absolute;
        top: 0;
        height: 100vh;
        margin-bottom: 100vh;
    }
    .footer-container {
        height: auto;
    }
    .footer-container .moreItem {
        height: 6rem;
        margin-top: 5rem;
    }
    .footer-container .addres {
        top: 0rem;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1100px;
    }
}

@media (max-width: 350) {
    .container .item {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
        box-shadow: 0 2.5em 0 0;
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
        z-index: 0;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
        z-index: 0;
    }
}


/*# sourceMappingURL=main.css.map */