* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    outline: none;
}

// insert font 
@font-face {
    font-family: iranSans;
    src: url("../font/IRANSans.ttf");
}

@font-face {
    font-family: iranSansbold;
    src: url(../font/IRANSans_Bold.ttf);
}

@font-face {
    font-family: iranSansmed;
    src: url(../font/IRANSans_Medium.ttf);
}

$color-gradiant: rgba($color: #000000,
$alpha: 0.6);